# Docker ignore file
node_modules
npm-debug.log
build
.coverage
.nyc_output
.nyc_output
.DS_Store
*.log
.git
.gitignore
.env
.env.local
.env.development
.env.test
docs/
tests/
*.md
.cjs
.eslintrc.json
.prettierrc.json
eslint.config.js